body {
  @apply bg-gray-900;
}

a {
  @apply text-gray-900;
}

button,
a,
input,
select {
  &:focus {
    @apply outline-none;
  }
}

.main {
}

.laneContainer {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;

  @screen md {
    flex-direction: row;
  }
}

.lane {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: solid 1px gray;
  padding: 1rem;
  margin: 0.5rem;

  .add-task-button {
    border: gray 1px solid;
    width: 20%;
  }
}

.task {
  display: flex;
  border: solid 1px gray;
  padding: 0.5rem;
  margin: 0.25rem 0;
  width: 100%;
}
