body {
  @apply bg-gray-900;

  padding: 2rem;
}

a {
  @apply text-gray-900;
}

button,
a,
input,
select {
  &:focus {
    @apply outline-none;
  }
}

.wrapper {
  display: flex;
  margin: 0 12.5px;
  flex-direction: column;

  @media screen and (min-width: 600px) {
    flex-direction: row;
  }
}

.col {
  margin: 0 12.5px;
  flex: 1;

  & > .header {
    padding: 1rem;
    border-bottom: 2px gray solid;
  }

  & > .content {
    padding: 1rem 0.5rem;
  }
}

.card {
  .header {
    padding: 0.5rem;
    border: 1px gray dotted;
  }
  .content {
    padding: 1rem;
  }
}
